@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Delius&family=Raleway:wght@200&display=swap');


/* login form */
.login-form {
    border: 1px solid #e1e2ea;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #cccccc, 0 6px 20px 0 #cccccc;
    font-family: Helvetica;
    padding: 0 4vw;
    padding-top: 4vw;
    padding-bottom: 9vw;
    text-decoration: none;
    margin: 4.5vw auto 0 auto;
    width: 290px;
    z-index: 1;
}
.login-form h1 {
    color: #4d4d4d;
	text-align: center;
	font-size: 26px;
	padding: 20px 0 20px 0;
}
.login-form h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: -1.8vw;
}
.login-form label {
    font-family: 'Delius', cursive;
}
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.login-form a {
    text-decoration: none;
}
#errorMsg {
    color: #ff6666;
    font-size: 12px;
    margin-top: -0.5vw;
}
#submitButton {
    background-color: #535b63;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    padding: 15px;
    outline: none;
    font-weight: bold;
    margin-top: 1vw;
    width: 100%;
}
#register {
    float: left;
    font-size: 14px;
    margin-top: 1vw;
}
#forgotPwd {
    float: right;
    font-size: 12px;
    padding: 0;
    margin-top: 0.2vw;
}