@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Delius&family=Raleway:wght@200&display=swap');


.register-form {
  background-color: #ffffff;
  border: 1px solid #e1e2ea;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #cccccc, 0 6px 20px 0 #cccccc;
  font-family: Helvetica;
  padding: 7vw 5vw;
  padding-top: 3vw;
  text-decoration: none;
  margin: 5vw auto;
	width: 300px;
  z-index: 1;
}
.register-form h1 {
  color: #4d4d4d;
	text-align: center;
	font-size: 26px;
	padding: 20px 0 20px 0;
}
.register-form h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: center;
  margin-top: -1.8vw;
}
.register-form label {
  font-family: 'Delius', cursive;
}
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="email"] {
  border: 1px solid #dddddd;
  box-sizing:border-box;
  border-radius: 6px;
	padding: 15px;
	margin-bottom: 15px;
	width: 100%;
}
.register-form a {
  text-decoration: none;
}

#registerButton {
	background-color: #535b63;
	border: 0;
  border-radius: 6px;
	box-sizing: border-box;
	cursor: pointer;
  color: #ffffff;
	padding: 15px;
  outline: none;
	font-weight: bold;
  margin-top: 1vw;
  width: 100%;
}
#errorMsg {
  color: #ff6666;
  font-size: 12px;
  margin-top: -0.5vw;
}
#login {
  float: left;
  font-size: 14px;
  margin-top: 1vw;
}


/*media screen*/
@media screen and (max-width: 600px) {
  .register-form{
    border: none;
    border-radius: none;
    box-shadow: none;
    font-family: Helvetica;
    padding: 0 4vw;
    padding-top: 2vw;
    padding-bottom: 9vw;
    text-decoration: none;
    margin: 0 auto 0 auto;
    width: 320px;
  }
  
  .register-form h1 {
    font-size: 7.5vw;
  }
  .register-form h4 {
    font-size: 5vw;
    margin-top: -8vw;
  }
  #login {
    margin-top: 3.5vw;
  }
}